<!doctype html>
<html>
<head>
	{% block head %}
	<title>RU Studying</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	{% endblock %}
</head>
 
<body>
	<div id = "container">
		<h1>RU Studying</h1>
		<h2>Find empty classrooms now!</h2>
		{% block content%}{% endblock%}
	</div>
</body>	
</html>
