{% extends "base.html" %}
{% block title %}RU Studying{% endblock %}
{% block content %}
	<h2 style = "margin-top: 200px"><center>Find empty classrooms now!</center></h2>
	<h3><center>Pick a campus</center></h3>
	<div class = "row">
		<div class = "col-md-12 campus">
			<h4><a href = "/livingston">Livingston</a></h4>
		</div>
		<div class = "col-md-12 campus">
			<h4><a href = "/busch">Busch</a></h4>
		</div>
		<div class = "col-md-12 campus">
			<h4><a href = "/collegeavenue">College Avenue</a></h4>
		</div>
		<div class = "col-md-12 campus">
			<h4><a href = "/cookdouglas">Cook/Douglas</a></h4>
		</div>
	</div>
{% endblock %}
</body>
</html>
