{% extends "base.html" %}
{% block title %}Open Rooms{% endblock %}
{% block content %}
	<center><h2>{{ campus }} | {{ bldg }}</h2></center>
	<div class = "col-md-3"> 
	</div>
	<div class = "col-md-6">
		<h2><center>GO STUDY IN HERE NOW!</center></h2>

		<table class="table">
				{% for room in openrooms %}
					<tr>
						<td><center>{{ room }}</center></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		
	</div>
	<div class = "col-md-3">
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
	<div class = "col-md-12">
		<p style = "text-align: center">
			RU Studying finds classrooms that have or had classes in them throughout the day based on the current time. If a classroom is shown, then a class already has taken place or will take place. If a classroom is not shown, then the were no classes scheduled for that room for that day and should be open for studying.
		</p> 
	</div>

{% endblock %}
