{% extends "base.html" %}
{% block title %}Open Rooms{% endblock %}
{% block content %}
	<center><h2>{{ campus }} | {{ bldg }}</h2></center>
	<div class = "col-md-3"> 
		<h2 style="text-align:right">Much rooms</h2>
		<h3 style="text-align:right"><small>If you look to your right, these classrooms are open.<br>These rooms have classes today. But since they show up, they DON'T have classes at this very moment.<br>Future versions will tell you the next class time.</small></h3>
	</div>
	<div class = "col-md-6">
		<h2><center>GO STUDY IN HERE NOW!</center></h2>

		<table class="table">
				{% for room in openrooms %}
					<tr>
						<td><center>{{ room }}</center></td>
					<tr>
				{% endfor %}
			</tbody>
		</table>

		
	</div>
	<div class = "col-md-3">
	</div>

	
{% endblock %}
