{% extends "base.html" %}
{% block title %}Open Rooms{% endblock %}
{% block content %}
	<center><h2>{{ campus }} | {{ bldg }}</h2></center>
	<div class = "col-md-3"> 
		<h2 style="text-align:right">Much rooms</h2>
		<h3 style="text-align:right"><small>The rooms listed here are just the rooms that had classes today. If your room is not listed it's probably open...</small></h3>
	</div>
	<div class = "col-md-6">
		<h2><center>GO STUDY IN HERE NOW!</center></h2>

		<table class="table">
			<tbody>
				{% for room in empty %}
					<tr>
						<td><center>{{ room }}</center></td>
					<tr>
				{% endfor %}
			</tbody>
		</table>

		
	</div>
	<div class = "col-md-3">
	</div>

	
{% endblock %}
